.mw-ext-rating {
  .mw-ext-rating {
    &-body {
      background: hsl(0, 0%, 98%);
      padding: .5em;
      max-width: 40em;

      &:hover {
        background: hsl(0, 0%, 96%);
      }
    }

    &-content {
      display: grid;
      grid-template-columns: 20rem max-content;
      align-items: center;
    }

    &-text,
    &-count {
    }

    &-text {
      font-weight: bold;

    }

    &-count {
    }

    &-star {
      display: inline-block;
      font-size: 1.2em;
    }

    &-star-plus {
      color: hsl(217, 71%, 53%);
    }

    &-star-minus {
      color: hsl(0, 0%, 86%);
    }
  }
}
